{% for name, detail in networks.items() %}
{% if detail.vlan_tag is defined and name not in networking_skip_vlans %}
{% if detail.vlan_tag is search('-') %}
{% for vlan in lookup('sequence', detail.vlan_tag, wantlist=True) %}
interface vlan{{ vlan }}
 no shutdown
 vlan-name {{ name }}.{{ vlan }}
 description {{ name }}
{% if detail.mtu is defined %}
 mtu {{ detail.mtu }}
{% endif %}
{% endfor %}
{% else %}
interface vlan{{ detail.vlan_tag }}
 no shutdown
 vlan-name {{ name }}
 description {{ name }}
{% if detail.mtu is defined %}
 mtu {{ detail.mtu }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}