{% for networked_server in groups[networking_server_group] %}
{% for if_name, if_detail in hostvars[networked_server]['host_networking']['single'].items() %}
{% if inventory_hostname in if_detail.physical %}
interface {{ if_detail['physical'][inventory_hostname] }}
 no shutdown
 description {{ networked_server }} {{ if_name }}
{% if if_detail.trunk_networks %}
 switchport mode trunk
 switchport trunk allowed vlan {{ if_detail.trunk_networks | map('extract', networks) | list | json_query('[*].vlan_tag') | join(',') }}
{% else %}
 switchport mode access
{% endif %}
{% if if_detail.access_network %}
 switchport access vlan {{ networks[if_detail.access_network]['vlan_tag'] }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}