{% for networked_server in groups[networking_server_group] %}
{% for port_channel in hostvars[networked_server]['port_channels'] %}
interface port-channel{{ port_channel.id }}
 no shutdown
 switchport mode trunk
 switchport trunk allowed vlan {{ port_channel.allowed_vlans }}
 mtu {{ networks | dict2items | json_query('[*].value.mtu') | max  }}
 vlt-port-channel {{ port_channel.id }}
interface {{ port_channel['interfaces'][inventory_hostname] }}
 no shutdown
 no switchport
 channel-group {{ port_channel.id }} mode active
{% endfor %}
{% endfor %}