dummy:
# General
ceph_rhcs_version: << ceph.ceph_rhcs_version >>
ceph_repository_type: << ceph.ceph_repository_type >>
fetch_directory: << ceph.fetch_directory >>
ceph_iscsi_config_dev: << ceph.ceph_iscsi_config_dev >>
configure_firewall: << ceph.configure_firewall >>
ntp_service_enabled: << ceph.ntp_service_enabled >>
bootstrap_dirs_owner: << ceph.bootstrap_dirs_owner >>
bootstrap_dirs_group: << ceph.bootstrap_dirs_group >>

# Dashboard and Auth
dashboard_enabled: << ceph.dashboard_enabled >>
dashboard_admin_user: << ceph.dashboard_admin_user >>
dashboard_admin_password: << ceph.dashboard_admin_password >>
grafana_admin_user: << ceph.grafana_admin_user >>
grafana_admin_password: << ceph.grafana_admin_password >>

# Containers
containerized_deployment: << ceph.containerized_deployment >>
container_binary: << ceph.container_binary: podman >>
ceph_docker_image: << ceph.ceph_docker_image >>
ceph_docker_image_tag: << ceph.ceph_docker_image_tag >>
ceph_docker_registry: << ceph.ceph_docker_registry >>
ceph_docker_registry_auth: << ceph.ceph_docker_registry_auth >>
ceph_docker_registry_username: << ceph.ceph_docker_registry_username >>
ceph_docker_registry_password: << ceph.ceph_docker_registry_password >>
ceph_origin: << ceph.ceph_origin >>
ceph_repository: << ceph.ceph_repository >>
grafana_container_image: << ceph.grafana_container_image >>
prometheus_container_image: << ceph.prometheus_container_image >>
alertmanager_container_image: << ceph.alertmanager_container_image >>
node_exporter_container_image: << ceph.node_exporter_container_image >>

# Storage
rbd_cache: << ceph.rbd_cache >>
rbd_cache_writethrough_until_flush: << ceph.rbd_cache_writethrough_until_flush >>
rbd_client_directories: << ceph.rbd_client_directories >>
journal_size: << ceph.journal_size >>

# Networks
monitor_address_block: << ceph.monitor_address_block >>
monitor_subnet: << ceph.monitor_subnet >>
public_network: << ceph.public_network >>
cluster_network: << ceph.cluster_network >>
