{% for site_name, site_detail in site_networks.items() %}
{% for network_name, network_detail in site_detail.items() %}
{% if network_detail.vlan is defined %}
{% if network_detail.vlan is search(':') %}
{% for vlan in lookup('sequence', network_detail.vlan | replace(':', '-'), wantlist=True) %}
interface vlan{{ vlan }}
 no shutdown
{% if network_detail.mtu is defined %}
 mtu {{ network_detail.mtu }}
{% else %}
 mtu {{ tor_mtu }}
{% endif %}
{% endfor %}
{% else %}
interface vlan{{ network_detail.vlan }}
 no shutdown
{% if network_detail.mtu is defined %}
 mtu {{ network_detail.mtu }}
{% else %}
 mtu {{ tor_mtu }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}