{% set vlans_to_build = [] %}
{% for network_name, network_detail in site_networks.items() %}
{% if network_detail.vlan is defined %}
{% if network_detail.vlan is search(':') %}
{% for vlan in lookup('sequence', network_detail.vlan | replace(':', '-'), wantlist=True) %}
{% if network_detail.mtu is defined %}
{% set vlan_dict = ({"id": vlan, "mtu": network_detail.mtu}) %}
{% else %}
{% set vlan_dict = ({"id": vlan, "mtu": ""}) %}
{% endif %}
{% set vlans_to_build = vlans_to_build.append(vlan_dict) %}
{% endfor %}
{% else %}
{% if network_detail.mtu is defined %}
{% set vlan_dict = ({"id": network_detail.vlan, "mtu": network_detail.mtu}) %}
{% else %}
{% set vlan_dict = ({"id": network_detail.vlan, "mtu": ""}) %}
{% endif %}
{% set vlans_to_build = vlans_to_build.append(vlan_dict) %}
{% endif %}
{% endif %}
{% endfor %}
{% for vlan in vlans_to_build | unique %}
interface vlan{{ vlan.id }}
 no shutdown
{% if vlan.mtu %}
 mtu {{ vlan.mtu }}
{% endif %}
{% endfor %}
