{% for interface in switch_config %}
{% if interface.port_channel_id %}
interface port-channel{{ interface.port_channel_id }}
 no shutdown
 description {{ interface.host_name }} {{ interface.host_interface }}
 switchport mode trunk
 switchport trunk allowed vlan {{ network_roles[interface.network_role][interface.host_interface]['trunk_networks'] | map('extract', site_networks[site_name]) | list | json_query('[*].vlan') | join(',') | replace(':', '-') }}
{% if network_roles[interface.network_role][interface.host_interface]['access_network'] is defined %}
 switchport access vlan {{ site_networks[site_name][network_roles[interface.network_role][interface.host_interface]['access_network']]['vlan'] }}
{% endif %}
 mtu {{ tor_mtu }}
 lacp fallback enable
 lacp fallback timeout {{ tor_lacp_fallback_timeout }}
 vlt-port-channel {{ interface.port_channel_id }}
interface {{ interface.interface_name }}
 no shutdown
 no switchport
 description {{ interface.host_name }} {{ interface.host_interface }}
 channel-group {{ interface.port_channel_id }} mode active
{% endif %}
{% endfor %}