DEVICE={{ kvm_vm.networks.storage.vm_interface }}
BOOTPROTO=static
ONBOOT=yes
PEERDNS=no
IPADDR={{ kvm_vm.networks.storage.ipaddr }}
NETMASK={{ kvm_vm.networks.storage.netmask }}
DOMAIN={{ kvm_vm.domain }}
